numpy
pandas
torch~=2.7.0
torchaudio~=2.7.0
scikit-learn
pytest~=8.3.5

lightning~=2.5.1.post0
torchmetrics~=1.7.1
kagglehub~=0.3.12
pytorch-lightning~=2.5.1.post0
setuptools~=78.1.1
librosa~=0.11.0
matplotlib~=3.10.3
distro
rich
